<!DOCTYPE html>
    <head>
        <html lang="en">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="https://internshala.com//favicon.ico?v=5" />
        <link rel="stylesheet" href="/static/css/resumePage.css" />
        <link rel="stylesheet" href="/static/css/nev_bar_style.css" /> 
        <link rel="stylesheet" href="/static/css/main.css" />
         <link rel="stylesheet" href="/static/css/pop.css" />
        <script src="https://kit.fontawesome.com/996973c893.js"></script>

        <title>Student Resume</title>
    </head>
    <body>
        <!-- Header Part-->
        <header>
            <a class="logo" href="index.ejs">
                <img class="logo" src="https://internshala.com/static/images/common/new_internshala_logo.svg"
                    alt="InternShala" />
            </a>
            <nav>
                <ul id="navigationkkk" class="nav_links">
                    <li>
                        <a href="internships.ejs">Internships</a>
                    </li>
                    <li>
                        <a href="#">Online Training <span id="headOffer">OFFER</span></a>
                    </li>
                    <li>
                        <a href="#">Freshers Job</a>
                    </li>
                </ul>
            </nav>
            <a href="#" id="cta">
                <button class="headingbutton" style="border: 0;">Vishal Sinha</button></a>
            <a href="#" id="cta1">
                <button class="headingbutton" id="signout">Signout</button></a>
        </header>
        <!-- My Resume style Content-->
        <div class="body1">
        <div class="box">
            <div class="header">
                <div class="header-left">
                    <div class="name">
                        <h1 id="firstNameR" class="first-name">Vishal</h1>
                        <h1 id ="lastNameR" class="last-name">Sinha</h1>
                    </div>
                </div>
                <div class="header-right">
                    <div class="email">
                        <p id="emailResume">sinha062@masaischool.com</p>
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="linkedin">
                        <p id="linkedinResume">linkedin.com/in/vishalSinha1527/</p>
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div class="github">
                        <p id="gitHubResume">github.com/vishal062</p>
                        <i class="fab fa-github"></i>
                    </div>
                    <div class="phone">
                        <p>+91-99-876-54321</p>
                        <i class="fas fa-phone"></i>
                    </div>
                </div>
            </div>
            <hr />
            <div class="objective">
                <div class="obj-heading grey">
                    <i class="fas fa-bullseye icon"></i>
                    <h2>Objectve</h2>
                </div>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta rem,
                    sit ex accusamus quisquam incidunt tempora, alias recusandae error
                    perspiciatis a nihil quibusdam ea, tenetur harum. Earum doloribus
                    quisquam repellendus!
                </p>
            </div>
            <hr />
            <div class="education">
                <div class="ed-heading grey">
                    <i class="fas fa-school icon"></i>
                    <h2>Education</h2>
                </div>
    
                <table>
                    <tr>
                        <th>Board</th>
                        <th>Institution</th>
                        <th>Year of passing</th>
                        <th>Percentage/GPA</th>
                    </tr>
                    <tr>
                        <td>BCA</td>
                        <td>XYZ</td>
                        <td>2018</td>
                        <td>95%</td>
                    </tr>
                    <tr>
                        <td>Intermediate</td>
                        <td>XYZ</td>
                        <td>2015</td>
                        <td>95%</td>
                    </tr>
                    <tr>
                        <td>SSC</td>
                        <td>XYZ</td>
                        <td>2013</td>
                        <td>95%</td>
                    </tr>
                </table>
            </div>
            <hr />
            <div class="skills">
                <div class="skills-heading grey">
                    <i class="fas fa-tools icon"></i>
                    <h2>Skills</h2>
                </div>
    
                <ul>
                    <li class="tag" >HTML</li>
                    <li class="tag">CSS</li>
                    <li class="tag">Javascript</li>
                    <li class="tag">jQuery</li>
                    <li class="tag">MySQL</li>
                </ul>
            </div>
            <hr />
            <div class="activities">
                <div class="act-heading grey">
                    <i class="fab fa-creative-commons-nd icon"></i>
                    <h2>Activities</h2>
                </div>
    
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi
                    reprehenderit libero eum maiores quidem assumenda laboriosam fugit!
                    Fuga molestias similique perspiciatis expedita minima dolorem mollitia
                    repellat ipsum, minus laudantium esse voluptatibus. Maiores sequi,
                    officia eum obcaecati in atque unde suscipit consequuntur nihil, sed
                    aliquid! Sed et nam aut dolorem fugit.
                </p>
            </div>
            <hr />
            <div class="buttons_container">
                <a href="#" >
                    <button class="btn" id="applynow">
                        Apply now </button>
                </a>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div id="footer" class="generic_footer">
        <div class="max-width-container">
            <div class="footer_container">
                <!-- footer coloumn -1 -->
    
                <div class="footer_coloumn">
                    <div class="footer_list">
                        <h3>Internships by places</h3>
                        <div class="footer_list_item">
                            <a href="#">Internships in India</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Internships in Delhi</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Internships in Bangalore</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Internships in Hyderabad</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Internships in Mumbai</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Internships in Chennai</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Internships in Gurgaon</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Internships in Kolkata</a>
                        </div>
                    </div>
                </div>
    
                <!-- footer coloumn -2  -->
                <div class="footer_coloumn">
                    <div class="footer_list">
                        <h3>Internships by Stream</h3>
                        <div class="footer_list_item">
                            <a href="#">Computer Science Internship</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Electronics Internship</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Mechanical Internship</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Civil Internship</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Marketing Internship</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Chemical Internship</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Finance Internship</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Summer Research Fellowship</a>
                        </div>
                    </div>
                </div>
                <!-- footer coloumn -3 -->
                <div class="footer_coloumn">
                    <div class="footer_list">
                        <h3>
                            Online Trainings
                            <span class="orange"> <a href="#">OFFER</a></span>
                        </h3>
                        <div class="footer_list_item">
                            <a href="#">Programming with python</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Digital Marketing</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Web Development</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Machine Learning</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Advance Excel</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Ethical Hacking</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Auto CAD</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Creative Writing</a>
                        </div>
                    </div>
                </div>
                <!-- footer coloumn -4 -->
                <div class="footer_coloumn">
                    <div class="footer_list">
                        <h3>About Internshala</h3>
                        <div class="footer_list_item">
                            <a href="#">About Us</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">We're hiring</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Hire Interns for your company</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Team Diary</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Blog</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Our Services</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Terms and Conditions</a>
                        </div>
                        <div class="footer_list_item">
                            <a href="#">Privacy</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- footer bottom -->
            <br />
            <div id="footer_bottom">
                <!-- Android app button -->
                <div id="android_app_container" class="footer_list_item">
                    <a href="#">
                        <i class="fab fa-google-play"> <span>Get Android App</span></i>
                    </a>
                </div>
                <!-- Social media Icons -->
                <div id="social_media_container">
                    <span>
                        <a href="#"> <i class="fab fa-instagram footer_icons"></i></a>
                        <a href="#"><i class="fab fa-twitter footer_icons"></i></a>
                        <a href="#"><i class="fab fa-youtube footer_icons"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in footer_icons"></i></a>
                    </span>
                </div>
    
                <div id="copyright">
                    <span>© Copyright 2021 InternShala</span>
                </div>
            </div>
        </div>
    </div>


      <!-- For pop -->

    <div class="popup">
      <div class="close-btn">&times;</div>
      <div class="form">
        <h2 style="color: #088af5;">Successfully applied !</h2>
        <div class="form-element"> 
        </div>
        <div class="form-element">
          <button id="home_page">Go to Homepage</button>
        </div>
      </div>
    </div>

    <!--  -->
    </body>
    
    </html>

   <script src="/static/js/resumePage.js"></script>