<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/a13b999530.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/static/css/nev_bar_style.css" />
    <link rel="stylesheet" href="/static/css/pop.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="https://internshala.com//favicon.ico?v=5" />
    <title>Internshala|login</title>
  </head>
  <body>
    <!-- header/nav bar -->

    <header>
      <a class="logo" href="index.ejs">
        <img
          class="logo"
          src="https://internshala.com/static/images/common/new_internshala_logo.svg"
          alt="InternShala"
        />
      </a>
      <nav>
        <ul class="nav_links" id="navigationkkk">
          <li>
            <a href="internships.ejs">Internships</a>
          </li>
          <li>
            <a href="#">Online Training <span id="headOffer">OFFER</span></a>
          </li>
          <li>
            <a href="#">Freshers Job</a>
          </li>
        </ul>
      </nav>
      <a href="students_log.ejs" id="cta">
        <button class="headingbutton">Login</button></a
      >
      <a href="students_reg.ejs" id="cta1">
        <button class="headingbutton" id="register">Register</button></a
      >
    </header>
    <!--         This is body of Login page        -->
    <div style="margin-top: 30px"></div>
    <div class="max-width-container">
      <div class="login_wrap" id="login_container">
        <!-- Google login -->
        <div id="google_button_container">
          <div id="google_img_container">
            <img
              src="https://internshala.com/static/images/login/google_logo.png"
            />
          </div>
          <div id="google_content"><a href="#">Signup With Google</a></div>
        </div>

        <!-- Rest of the fields -->
        <div id="form_container">
          <div class="helper">
            <div id="google_or"><p>OR</p></div>
          </div>
          <label for="email">Email</label>
          <input
            id="email"
            name="email"
            placeholder=" John@xyz.com"
            class="reg_fields"
          />
          <label for="password">Password</label>
          <input
            id="password"
            name="password"
            placeholder=" Enter password"
            class="reg_fields"
            type="password"
          />

          <p>
            <span><a href="#">Forgot password ?</a></span>
          </p>
          <button id="login_btn">Login</button>
          <p>
            New to Internshala ?
            <span><a href="students_reg.ejs">Signup</a></span>
          </p>
        </div>
        <!-- End of Rest of the fields -->
      </div>
    </div>

    <!-- ----------------- Footer Starts from here ------------------------- -->

    <div id="footer" class="generic_footer">
      <div class="max-width-container">
        <div class="footer_container">
          <!-- footer coloumn -1 -->

          <div class="footer_coloumn">
            <div class="footer_list">
              <h3>Internships by places</h3>
              <div class="footer_list_item">
                <a href="#">Internships in India</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Internships in Delhi</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Internships in Bangalore</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Internships in Hyderabad</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Internships in Mumbai</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Internships in Chennai</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Internships in Gurgaon</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Internships in Kolkata</a>
              </div>
            </div>
          </div>

          <!-- footer coloumn -2  -->
          <div class="footer_coloumn">
            <div class="footer_list">
              <h3>Internships by Stream</h3>
              <div class="footer_list_item">
                <a href="#">Computer Science Internship</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Electronics Internship</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Mechanical Internship</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Civil Internship</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Marketing Internship</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Chemical Internship</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Finance Internship</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Summer Research Fellowship</a>
              </div>
            </div>
          </div>
          <!-- footer coloumn -3 -->
          <div class="footer_coloumn">
            <div class="footer_list">
              <h3>
                Online Trainings
                <span class="orange"> <a href="#">OFFER</a></span>
              </h3>
              <div class="footer_list_item">
                <a href="#">Programming with python</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Digital Marketing</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Web Development</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Machine Learning</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Advance Excel</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Ethical Hacking</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Auto CAD</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Creative Writing</a>
              </div>
            </div>
          </div>
          <!-- footer coloumn -4 -->
          <div class="footer_coloumn">
            <div class="footer_list">
              <h3>About Internshala</h3>
              <div class="footer_list_item">
                <a href="#">About Us</a>
              </div>
              <div class="footer_list_item">
                <a href="#">We're hiring</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Hire Interns for your company</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Team Diary</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Blog</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Our Services</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Terms and Conditions</a>
              </div>
              <div class="footer_list_item">
                <a href="#">Privacy</a>
              </div>
            </div>
          </div>
        </div>

        <!-- footer bottom -->
        <br />
        <div id="footer_bottom">
          <div id="android_app_container" class="footer_list_item">
            <a href="#">
              <i class="fab fa-google-play"> <span>Get Android App</span></i>
            </a>
          </div>

          <div id="social_media_container">
            <span>
              <a href="#"> <i class="fab fa-instagram footer_icons"></i></a>
              <a href="#"><i class="fab fa-twitter footer_icons"></i></a>
              <a href="#"><i class="fab fa-youtube footer_icons"></i></a>
              <a href="#"><i class="fab fa-linkedin-in footer_icons"></i></a>
            </span>
          </div>

          <div id="copyright">
            <span>© Copyright 2021 InternShala</span>
          </div>
        </div>
      </div>
    </div>

    <!-- For pop -->

    <div class="popup">
      <div class="close-btn">&times;</div>
      <div class="form">
        <h2>Drop your resume</h2>
        <div class="form-element">
          <input type="file" id="resume" placeholder="Choose file" />
        </div>
        <div class="form-element">
          <button id="resume_submit">Submit</button>
        </div>
      </div>
    </div>

    <!--  -->
  </body>
</html>
<script src="/static/js/students_log.js"></script>
